:root{
    --goldColor: #F0BF5F;
    --grayColor: #333333;
    --whiteColor: #ffffff;
    --headerFontSize: 40px;
    --textFontSize: 16px;
    --blockHeaderFontSize: 20px;
}

body{
    background-color: #E5E5E5;
    width: 1170px;
    margin: 0 auto;
}

.header__h2{
    font-family: "MullerBold";
    font-size: var(--headerFontSize);
    color: var(--grayColor);
    margin: 0 0 30px 40px;
}

.advantages__list{
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 23px;
    row-gap: 23px;
}

.advantages__item{
    background-color: var(--whiteColor);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 41px 45px;
}

.advantages__logo{
    margin-bottom: 8px;
}

.advantages__text{
    font-family: "MullerRegular";
    font-size: var(--textFontSize);
    color: var(--grayColor);
    line-height: 32px;
}
